name: dist

on:
  pull_request:
  release:
    types: [published]

env:
  FORCE_COLOR: 1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: python -m pip install build
      - run: python -m build
      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          name: wheel
          path: dist/*.whl

  pypi-publish:
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    needs:
      - build
    environment:
      name: pypi
      url: https://pypi.org/p/markstore
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          print-hash: true